*{
	padding:0;
	margin:0;
	border:0;
}

a {
	outline:none;
	}
	
a:link {
	color: #e5670a;
	}
	
a:visited {
	color: #e5670a;
	}
	
a:hover {
	text-decoration: none;
}

img {
   vertical-align:bottom
}

body {
	/*font-family: "ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;*/
	font-family:"Meiryo","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3";
	line-height: normal;
	color: #705d4f;
	font-size: 14px;
	font-weight: nomal;
	padding: 0 0 75px 0;
}

/*反転時の文字色と背景色 */
::selection {
background: #ffd871;　　/* 背景色*/
color:#705d4f;　　/* 文字色*/
}
/* Firefox対応*/
::-moz-selection {
background: #ffd871;　　/* 背景色*/
color:#705d4f; 　　/* 文字色*/
}

* html body{  
    overflow: hidden;
}

* html div.wrapper {  
    height: 100%;  
    overflow: auto;  
}  

.head_l {
	width: auto;
	height: 5px;
	background-color: #3a1e0a;
}

.wrapper {
	width: auto;
	height: auto;
	background-image: url("/img/common/bg.gif");
 	background-repeat: repeat;
 	margin-bottom: -10px;
}

.header {
	width: 1052px;
	height: 91px;
	margin: 0 auto;
}

.logo {
	width: 300px;
	height: 72px;
	margin: 0 0 0 74px;
	float: left;
	display: block;
}

.geegotan {
	width: 308px;
	height: 91px;
	margin: 0 0 0 57px;
	float: left;
	display: block;
}

.login {
	padding-top: 9px;
	display: block;
}

.social_btn {
	width: auto;
	height: 20px;
	margin: -5px 0 0 0;
	display: block;
}

.twitter{
	float: left;
	display: block;
	margin-right: -35px;
}

.fb-like{
	float: left;
	display: block;
}

.g_plus{
	float: left;
	display: block;
	margin: 3px 0 0 10px;
}


.g_navi_bg {
	width: auto;
	height: 52px;
	clear: both;
	}

.g_navi {
	width: 1052px;
	height: 52px;
	margin: 0 auto;
	background-image: url("/img/common/g_navi.jpg");
	clear: both;
	}

.g_navi ul{
	width: 903px;
	height: 52px;
	margin: 0 auto;
	list-style-type: none;
	}

.g_navi li{
	float: left;
	}

.g_navi li a{
	display: block;
}

.container_bg {
	width: 1052px;
	height: auto;
	margin: 0 auto;
	background-image: url("/img/common/container_bg.png");
 	background-repeat: repeat-y;
}
.container {
	width: 1002px;
	height: auto;
	min-height: 800px;
	_height: 800px;
	padding-bottom: 200px;
	margin: 0 auto;
	background-color: #fffcf6;
}

.contents {
	width: 891px;
	height: auto;
	margin: 0 0 0 49px;
	padding-top: 15px;
	clear: both;
	overflow: hidden;
}

.main_h {
	width: 423px;
	height: 50px;
	margin: 0 0 0 8px;
	float: left;
	display: block;
}

.contents_h {
	width: 442px;
	height: 35px;
	margin: 10px 0 7px 0;
}

.top_h {
	width: 442px;
	height: 35px;
}

.contents_l {
	width: 301px;
	height: auto;
	margin: 13px 43px 0 22px;
	float: left;
}

.contents_r {
	width: 525px;
	height: auto;
	margin: 13px 0 0 0;
	float: left;
	display: block;
}

.frame_bg {
	width: 502px;
	height: 380px;
	background: #f1f3f3;
	padding: 10px;
	-moz-box-shadow: 2px 2px 2px #dcdad4;/* Firefox */
	-webkit-box-shadow: 2px 2px 2px #dcdad4;
	/* Safari,Google Chrome用 */
}

.line {
	width: 953px;
	height: 11px;
	margin: 0 auto;
	padding-bottom: 26px;
}

.footer {  
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
	background-image: url("/img/common/footer.png");
	clear: both;
}  

.house {  
    width: 86px;
    height: 110px;
	bottom: 35px; 
	/*left: 140px;*/
	display: block;
	position: absolute;
}  

.cat {  
    width: 64px;
    height: 101px;
	bottom: 27px; 
	/*right: 150px;*/
	display: block;
	position: absolute;
}  

.copy {
	width: auto;
	height: 14px;
	margin: 33px auto 0 auto;
	color: #9d8651;
	font-size: 13px;
	text-align: center;
	text-shadow: #8a6e59 0px 0px 5px;
	clear: both;
}
