*{
	padding:0;
	margin:0;
	border:0;
}

a {
	outline:none;
	}


body {
	/*font-family: "ÇlÇr ÇoÉSÉVÉbÉN","ÇlÇr ÉSÉVÉbÉN",sans-serif;*/
	font-family:Meiryo;
	line-height: normal;
	color: #705d4f;
	font-size: 14px;
	font-weight: nomal;
}

.head_l {
	width: auto;
	height: 5px;
	background-color: #3a1e0a;
}

.wrapper {
	width: auto;
	height: auto;
	background-image: url("/img/common/bg.gif");
 	background-repeat: repeat;
}

header {
	width: 1052px;
	height: 91px;
	margin: 0 auto;
}

.logo {
	width: 300px;
	height: 72px;
	margin: 0 0 0 74px;
	float: left;
	display: block;
}

.geegotan {
	width: 302px;
	height: 91px;
	margin: 0 0 0 65px;
	float: left;
	display: block;
}

.g_navi_bg {
	width: auto;
	height: 52px;
	clear: both;
	}

.g_navi {
	width: 1052px;
	height: 52px;
	margin: 0 auto;
	background-image: url("/img/common/g_navi.jpg");
	}

.contents_bg {
	width: 1052px;
	height: auto;
	margin: 0 auto;
	background-image: url("/img/common/contents_bg.png");
 	background-repeat: repeat-y;
}
.contents {
	width: 1002px;
	height: auto;
	margin: 0 auto;
	background-color: #fffcf6;
}

.line {
	width: 953px;
	height: 11px;
	margin: 0 auto;
	padding-bottom: 26px;
}

.fotter {
	width: 1280px:
	height: 188px;
	background-color: #000000;
	margin: 0 auto;
	font-color: #ffffff;
}